/* Base Styles shared by form */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  z-index: -1;
}

main {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  z-index: -1;
}

form {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
}